html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important; }

body {
  -webkit-text-size-adjust: 100%; }

.col-markers {
  position: fixed;
  top: 0;
  width: 100%;
  pointer-events: none;
  z-index: 1000; }
  .col-markers ul {
    display: flex;
    justify-content: center;
    margin: 0 auto; }
    .col-markers ul li {
      width: calc((8.3333333333vw * 1 ) - 1.5rem);
      background-color: rgba(100, 115, 130, 0.25);
      height: 100vh; }
      .col-markers ul li:not(:last-child) {
        margin-right: 1.5rem; }
  .col-markers:not(:target) {
    display: none; }

body {
  line-height: 1.625;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  color: #000000; }

a {
  text-decoration: none;
  display: block;
  color: currentColor;
  transition: color 0.25s ease-out; }

h1, .set-h1 {
  font-weight: 300;
  color: #663399;
  letter-spacing: -0.0625rem;
  line-height: 1;
  font-size: 3.5em;
  margin-bottom: 2.25rem; }
  @media (min-width: 700px) {
    h1, .set-h1 {
      font-size: 4em; } }

h2, .set-h2 {
  font-weight: 700;
  color: #663399;
  line-height: 1.25;
  font-size: 2em;
  margin-bottom: 1rem; }
  @media (min-width: 700px) {
    h2, .set-h2 {
      font-size: 2.5em; } }

h3, .set-h3 {
  font-weight: 500;
  color: #663399;
  line-height: 1.25;
  font-size: 1.5em;
  margin-bottom: 1rem; }
  @media (min-width: 700px) {
    h3, .set-h3 {
      font-size: 1.75em; } }

h4, .set-h4 {
  font-weight: 500;
  color: #647382;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  line-height: 1.25;
  font-size: 1.125rem;
  margin: 1.75rem 0 1rem; }
  @media (min-width: 700px) {
    h4, .set-h4 {
      font-size: 1.3125rem; } }

h5, .set-h5 {
  font-size: 1.5em;
  line-height: 1.25;
  font-weight: 500;
  color: #663399;
  margin-bottom: 0.75rem; }

h6, .set-h6 {
  font-weight: 900;
  color: #647382;
  line-height: 1.25;
  font-size: 1em;
  margin-bottom: 1.5rem; }
  @media (min-width: 700px) {
    h6, .set-h6 {
      font-size: 1.0625em; } }

.formatted-type a:not(.button) {
  color: #663399;
  display: inline;
  font-weight: 500;
  text-decoration: underline; }
  .formatted-type a:not(.button):hover {
    color: #647382; }

@media (min-width: 700px) {
  .formatted-type p, .formatted-type ul, .formatted-type ol {
    font-size: 1.0625em; } }

.formatted-type p:not(:last-child), .formatted-type ul:not(:last-child), .formatted-type ol:not(:last-child), .formatted-type .button:not(:last-child) {
  margin-bottom: 1.25em; }

.formatted-type img {
  margin-bottom: 1.75em; }

.formatted-type ul, .formatted-type ol {
  margin-left: 1.25em; }
  .formatted-type ul li, .formatted-type ol li {
    margin-bottom: 0.375em; }

.formatted-type ul {
  list-style-type: circle; }

.formatted-type ol {
  list-style-type: decimal; }

.formatted-type strong {
  font-weight: 700; }

.formatted-type em {
  font-style: italic; }

.formatted-type small {
  font-size: 0.875em; }

.formatted-type hr {
  border: none;
  height: 0.09375em;
  background-color: #D3D8DC;
  margin: 2em 0; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border: none;
  transition: background-color 0.25s ease-out; }

.button {
  margin: 0;
  display: inline-block;
  cursor: pointer;
  padding: 1rem 2rem;
  line-height: 1.25;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-size: 1.125em;
  text-align: center;
  border-radius: 0.25em;
  color: #FFFFFF;
  background-color: #647382;
  transition: color 0.25s ease-out, background-color 0.25s ease-out; }
  .button:hover, .button:focus {
    background-color: #663399; }
  .button--large {
    font-size: 1.25em; }

label {
  display: block;
  color: #647382;
  margin-bottom: 0.25em;
  font-weight: 500;
  cursor: pointer; }
  label::-moz-selection {
    background-color: transparent; }
  label::selection {
    background-color: transparent; }

select, input, textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 100%;
  margin: 0 0 1.5625em;
  border: 0.09375rem solid #D3D8DC;
  border-radius: 0.25em;
  padding: 0.75em 0.75em 0.6875em;
  font-size: 1em;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  line-height: 1.625;
  color: currentColor; }
  select::-webkit-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: rgba(100, 115, 130, 0.75); }
  select:-ms-input-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: rgba(100, 115, 130, 0.75); }
  select::-ms-input-placeholder, input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: rgba(100, 115, 130, 0.75); }
  select::placeholder, input::placeholder, textarea::placeholder {
    color: rgba(100, 115, 130, 0.75); }
  select::-ms-expand, input::-ms-expand, textarea::-ms-expand {
    display: none; }

.styled-select {
  color: #647382;
  position: relative; }
  .styled-select option {
    color: red; }
  .styled-select::after {
    content: "";
    position: absolute;
    top: 1.4375em;
    right: 1.25em;
    pointer-events: none;
    border-left: 0.4375em solid transparent;
    border-right: 0.4375em solid transparent;
    border-top: 0.5em solid rgba(100, 115, 130, 0.75); }

img, svg {
  display: block;
  height: auto;
  max-width: 100%; }

.container {
  margin: 0 auto;
  width: calc((8.3333333333vw * 12 ) - 1.5rem);
  max-width: 88.5rem;
  min-width: 18.5rem; }
  @media (min-width: 700px) {
    .container--standard {
      width: calc((8.3333333333vw * 11 ) - 1.5rem);
      max-width: 81rem; } }
  @media (min-width: 1280px) {
    .container--standard {
      width: calc((8.3333333333vw * 10 ) - 1.5rem);
      max-width: 73.5rem; } }
  @media (min-width: 700px) {
    .container--medium {
      width: calc((8.3333333333vw * 8 ) - 1.5rem);
      max-width: 58.5rem; } }
  @media (min-width: 1000px) {
    .container--medium {
      width: calc((8.3333333333vw * 7 ) - 1.5rem);
      max-width: 51rem; } }
  @media (min-width: 1280px) {
    .container--medium {
      width: calc((8.3333333333vw * 6 ) - 1.5rem);
      max-width: 43.5rem; } }

.site-header {
  background-color: #D3D8DC;
  padding: 2em 0; }
  .site-header .row {
    align-items: center; }
    @media (min-width: 700px) {
      .site-header .row {
        display: flex;
        justify-content: space-between; } }
    .site-header .row .logo {
      font-size: 1.5em;
      font-weight: 700;
      color: #663399; }
      .site-header .row .logo:hover {
        color: #647382; }
    .site-header .row nav ul {
      display: flex; }
      .site-header .row nav ul li:not(:last-child) {
        margin-right: 1.5em; }
        @media (min-width: 480px) {
          .site-header .row nav ul li:not(:last-child) {
            margin-right: 2em; } }
      .site-header .row nav ul li a {
        font-weight: 500;
        color: #4e5a65; }
        .site-header .row nav ul li a:hover {
          color: #663399; }

.site-footer {
  background-color: #D3D8DC;
  padding: 2.5em 0; }
  @media (min-width: 700px) {
    .site-footer .row {
      display: flex;
      justify-content: space-between; } }
  .site-footer .row .logo {
    font-weight: 700;
    color: #663399; }
    .site-footer .row .logo:hover {
      color: #647382; }
  .site-footer .row p a {
    display: inline;
    color: #4e5a65;
    font-weight: 500; }
    .site-footer .row p a:hover {
      color: #663399; }

.skip-link {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 1.5em;
  opacity: 1;
  pointer-events: none; }
  .skip-link .button {
    transition: opacity 0.25s ease-out, -webkit-transform 0.25s ease-out;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out;
    transition: transform 0.25s ease-out, opacity 0.25s ease-out, -webkit-transform 0.25s ease-out; }
    .skip-link .button:not(:focus):not(:hover) {
      -webkit-transform: translateY(-5em);
              transform: translateY(-5em);
      opacity: 0.5;
      pointer-events: auto; }

.content-set {
  padding: 2.5em 0; }
  @media (min-width: 1000px) {
    .content-set {
      padding: 4em 0; } }
  .content-set:nth-of-type(even) {
    background-color: #f4eef9; }
  .content-set > section:not(:last-child), .content-set .container > section:not(:last-child) {
    margin-bottom: 2.5em; }
    @media (min-width: 1000px) {
      .content-set > section:not(:last-child), .content-set .container > section:not(:last-child) {
        margin-bottom: 4em; } }

.hero--home {
  padding: 5em 0 4.5em;
  background-color: #261339;
  text-align: center; }
  .hero--home h1 {
    color: #8c53c6; }
  .hero--home .set-h4 {
    color: #D3D8DC; }
  .hero--home .button {
    margin-top: 4rem; }
/*# sourceMappingURL=style.css.map */