button {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	transition: background-color $timing-default;
}
.button {
	margin: 0;
	display: inline-block;
	cursor: pointer;
	padding: 1rem 2rem;
	line-height: 1.25;
	font-weight: $medium;
	text-transform: uppercase;
	letter-spacing: rem(1);
	font-size: em(18);
	text-align: center;
	border-radius: $radius-default;

	color: $white;
	background-color: $gray;
	transition:
		color $timing-default,
		background-color $timing-default;
	&:hover, &:focus {
		background-color: $purple;
	}
	&--large {
		font-size: 1.25em;
	}
}
